*{
    margin: 0;
    padding: 0;
}
.commentContainer{
 border-radius: 5px;
 border:1px solid #ecf0f1;
 margin-bottom: 12px;
}
.commentContainer > .commentBody{
    padding: 12px;
    min-height: 100px;
}

.commentMeta {
    background: #ecf0f1;
    justify-content: space-between;
    padding: 8px 12px;
}
.commentMeta > .authorInfo {
    width: 300px;
}
.authorInfo > img{
    height: 30px;
    border-radius: 50%;
    margin-right: 12px;
}
.authorInfo > p{
    margin-left: 12px;
    font-size: 12px;
}