.articleInfoContainer {
  height: 300px;
  padding: 20px 0;
  background: #ecf0f1;
}

.metaData {
  width: 70%;
  height: 150px;
  margin: 0 auto;
  letter-spacing: 2px;
  justify-content: space-between;
}

.container {
  padding: 25px;
  width: 60%;
  margin: 0 auto;
}

.articleContent {
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 1.8em;
  border-bottom: 1px solid lightgray;
  margin-bottom: 12px;
}

.articleInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.articleInfo > h1,h4,h5,div{
  margin: 0;
  padding: 8px 0;
}
.author {
  width: 500px; 
  justify-content: space-between;
}
.author > .authorInfo > img{
  height: 30px;
  border-radius: 50%;
  margin-right:12px; 
}
.author > .authorInfo > a > h4{
  margin: 0;
  padding: 0;
}
button {
  color: white;
  border-radius: 5px;
  font-weight: bolder;
  letter-spacing: 2px;
  font-size: 12px;
  border: 0;
  padding: 4px 8px;
  margin-right: 8px;
}

.greenBack {
  background: #5cb85c;
}

.redBack {
  background: #e74c3c;
}
