ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

li {
    height: 30px;
    width: 30px;
    font-size: 12px;
    font-weight: bolder;
    color: #5cb85c;
    margin-right: 8px;
    margin-top: 8px;
    border-radius: 5px;
    border: 2px solid;
    cursor: pointer;
}