<div class="formContainer">
  <h2>Sign Up</h2>
  <form [formGroup]="signUpForm" (ngSubmit)="handleSignUp(signUpForm.value)">
    <label for="">USERNAME</label>
    <input type="text" formControlName="username">
    <div *ngIf="form.username.invalid && (form.username.dirty || form.username.touched)" [ngClass]="'alert alert-danger'">
      <div *ngIf="form.username.errors.required">
        Username is required.
      </div>
      <div *ngIf="form.username.errors.minlength">
        Username must be at least 5 characters long.
      </div>
    </div>
    <label for="">E-MAIL</label>
    <input type="email" formControlName="email">
    <div *ngIf="form.email.invalid && (form.email.dirty || form.email.touched)" [ngClass]="'alert alert-danger'">
      <div *ngIf="form.email.errors.required">
        E-Mail is required.
      </div>
      <div *ngIf="form.email.errors.email">
        Invalid E-mail
      </div>
    </div>
    <label for="">PASSWORD</label>
    <input type="password" formControlName="password">
    <div *ngIf="form.password.invalid && (form.password.dirty || form.password.touched)" [ngClass]="'alert alert-danger'">
      <div *ngIf="form.password.errors.required">
        Password is required.
      </div>
      <div *ngIf="form.password.errors.minlength">
        Password must be at least 8 characters long.
      </div>
    </div>
    <input type="submit" value="SIGN UP" [disabled]="!signUpForm.valid">
  </form>
</div>
