/* You can add global styles to this file, and also import other style files */
* {
  /* margin: 0;
    padding: 0; */
  box-sizing: border-box;
  font-family: 'IBM Plex Mono', monospace;
}
body {
  margin: 0;
  padding: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vcenter {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: #5cb85c;
}

a:hover {
  /* text-decoration: underline; */
  color: #5cb85c;
}

button {
  text-align: center;
  border: 0;
  font-weight: bolder;
  letter-spacing: 2px;
  border-radius: 4px;
  cursor: pointer;
  padding: 4px 8px;
}

.greenBack {
  background: #5cb85c;
  color: white;
}

.grayBack {
  background: darkgray;
  color: white;
}

.errorContainer {
  padding: 12px 0;
  color: #c0392b;
  font-weight: bolder;
}
.errorContainer > h5 {
  background: #c0392b;
  color: white;
  padding: 4px 8px;
  display: inline-block;
  border-radius: 1.2em;
}
.errorContainer > ul {
  list-style: none;
  font-size: 12px;
}
.errorContainer > ul >li {
  padding: 4px 0;
  text-transform: capitalize;
  letter-spacing: 2px;
}

input[type="submit"]:disabled {
  background: #dddddd;
}