/* You can add global styles to this file, and also import other style files */
* {
  /* margin: 0;
    padding: 0; */
  box-sizing: border-box;
  font-family: 'IBM Plex Mono', monospace;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vcenter {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: #5cb85c;
}

a:hover {
  /* text-decoration: underline; */
  color: #5cb85c;
}

button {
  text-align: center;
  border: 0;
  font-weight: bolder;
  letter-spacing: 2px;
  border-radius: 4px;
  cursor: pointer;
  padding: 4px 8px;
}

.greenBack {
  background: #5cb85c;
  color: white;
}

.grayBack {
  background: darkgray;
  color: white;
}
