<div *ngIf="errors.length !== 0" class="errorContainer">
  <h5>Errors</h5>
  <ul>
    <li *ngFor="let error of errors">
      {{ error }}
    </li>
  </ul>
</div>
<form [formGroup]="articleEditorForm" (ngSubmit)="handleForm(articleEditorForm.value)">
  <label for="">Article Title</label>
  <input type="text" formControlName="title" placeholder="Enter Article Title ...">
  <div *ngIf="form.title.invalid && (form.title.dirty || form.title.touched)" [ngClass]="'alert alert-danger'">
    <div *ngIf="form.title.errors.required">
      Article Title is required.
    </div>
  </div>
  <label for="">Article Description</label>
  <input type="text" formControlName="description" placeholder="Whats the article about ...">
  <div *ngIf="form.description.invalid && (form.description.dirty || form.description.touched)" [ngClass]="'alert alert-danger'">
    <div *ngIf="form.description.errors.required">
      Article Description is required.
    </div>
  </div>
  <label for="">Article Content</label>
  <textarea type="text" formControlName="content" cols="30" placeholder="Article's Content (markdown supported)"></textarea>
  <div *ngIf="form.content.invalid && (form.content.dirty || form.content.touched)" [ngClass]="'alert alert-danger'">
    <div *ngIf="form.content.errors.required">
      Article Content is required.
    </div>
  </div>
  <label for="">Article Tags</label>
  <input type="text" formControlName="tags" placeholder="Insert tags seperated by comma (,)">
  <input *ngIf="!editFlag" type="submit" value="Publish Article" [disabled]="!articleEditorForm.valid">
  <input *ngIf="editFlag" type="submit" value="Edit Article" [disabled]="!articleEditorForm.valid">
</form>
